
<audio (ended)="audioEvent()" #audioPolly controls style="display: none">
  <source  type="audio/mp3" src="http://www.vocesdecine.com/Muestra/contestadores/JB_CONTESTADOR_2.mp3">
</audio>

<div>
  <div class="text-center">
    <div class="grabacion__buttons">
      <button
        ginniButton
        color="primary"
        (click)="btnGrabar()"
      >
        Grabar
      </button>
    </div>

    <div class="grabacion__buttons">
      <button
        ginniButton
        color="primary"
        (click)="btnDetener()"
      >
        Detener
      </button>
    </div>
  </div>
  <div class="grabacion__audio">
    <ng-container *ngIf="audioSrc$ | async as audioSrc">
      <app-audio-player [src]="audioSrc"></app-audio-player>
    </ng-container>
  </div>

</div>
